//COLORS
$color-primary:#55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark:#28b485;
// $color-primary: #3b92e4;
// $color-primary-light: #71b9fc;
// $color-primary-dark: #0176e4;
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-grey-light: rgb(216, 215, 215);
$color-white: #fff;
$color-black: rgba(0, 0, 0, .2);
$color-black-popup:rgba(0, 0, 0, .8);
$color-grey-light-1: #f7f7f7;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//FONT
$default-font-size: 1.6rem;