

 .heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 20px;

    &-main{
        display: block;
        font-size: 60px;
        font-weight: 500px;
        letter-spacing: 35px; 
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    }
    
    &-sub{
        display: block;
        font-size: 20px;
        font-weight: 500px;
        letter-spacing: 17.4px;
        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out;
    
    }
    
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    transition: all .2s;
    
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .3);
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }
}