

.btn{
    &:link ,
    &:visited{
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 30px;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 1s;
        position: relative;
        animation: moveInBottom 3s ease-out;
    }

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba($color-black, 0.2);


        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }

    &:active{
        transform: translateY(-2px);
        box-shadow: 0 5px 10px rgba($color-black, 0.2)

    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    

    &-white{
        &{
            background-color: $color-white;
            color: $color-gray-dark;

        }

        &::after{
            background-color: $color-white;
        }
    }

}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
    }
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
    &:active {
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }
 }